/* Colors */
/* Imports */

.icon-checked {
	background-image: url('png/checked.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAACWElEQVQ4T5WUT08TQRjG3zHWHllM2uDJNgFM5FA8WC6aLCaCxJhuD+XPqVQ+APUTWD6BfAHoejClNLFtjCHGSEusJuCBmggHOYAmKmkTLQkloZuwPu/I1l1aQCeZ7My7M7955nnfXUH/2UzTnMWW6a3tHRKCqNvnIzz+vQGgYnVh/dMGlTc25cZbwZt/IclURj0SR9OChHYaNjR8ly65XJR/9ZoahuGEzKfSOrRFz9J0vbeHBm7005vSO/r67btc2ql0kDY8RIIVmMIsmER7RCJxwX1Rj4XDNTsQ11Aw396tVJWlQrH5amRQpS6vZ0/MLyzmEA2ZJB5NjUfYtJYGiI5gdPHFS6ofHMj33b6rdHsgyMMYQyACGtyuzklN2hGQcyFW+NnOTBd8GX1wn37WanTF6xVNSGws4seeArrvWEqZT0HX9+v1gN3MILzpg0cc0+4NOSB5OB56u7omGSyVM8FtablIu9WqHFtmbn7eotX1Mj0cH3VAyJ7/y4pCI3dU+lGp0HLpfdMny8xnz3MdnOaTkI9wP2B3n0ENo0H79T9mWmnmaybTmSTHTkLCiGW5nEtrH5onWwPLTFxxBaarVkIcEJ4gE5PYlGwH4vLu8UvP/YDstIVwirnI2oG6PB7pD9oMAIlkNquYh8Yv+3Vais0CwSNpbN+1Xs7UF2zqB6Q2t5CJCzKfYJ7HDbRm2TMVn3Sc3K6nx4q48hLoXHx59Liey9Xo0IiiOmVlC1MMxiYiRfkrmEulEzjhcYubZwSgdmZqYowPcf4K8CHGEQudA8tDwSwrsNb9BiY7LZA3Y49GAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2217px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2017%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Echecked%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22outside%22%20stroke%3D%22%239EA8AA%22%20stroke-width%3D%222%22%20sketch%3Atype%3D%22MSShapeGroup%22%20x%3D%221%22%20y%3D%223%22%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%224%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M5%2C9.66071429%20L8.33333333%2C13%20L15%2C2%22%20id%3D%22check%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M5%2C9.66071429%20L8.33333333%2C13%20L15%2C2%22%20id%3D%22check%22%20stroke%3D%22%239EA8AA%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-rocket {
	background-image: url('png/rocket.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAYAAAArij59AAABCElEQVQoU22RQU7DMBBF56tmTblBOQGwYxFLtpI9vQHtCTgCcAROQDgBdN1UjpSKdW6AOAHd4zJ4nDhqoNlkPHn58/8Y1D/OmCkm/lmOvFdLW9c7qTEAuS4Buo1nptJsmuUAuFzPw8fXBHcMW1tt66jg8qwFcMHMnwRMQ/M0IK2ptldw5noGdfKRpOMbtIgq/vscx+TTKBkDV2QPINzHP5ifogBw1/t4FMAEwB0aHCtIfrX/OqrgJ2ddikK/heJmHJNWtmrmPfB/zLCHuGLlgwdcjn1wy16FFIcr/us0rBx1obmLRKvkg5le0r1EQBp20yxETeBUCxRHSKNLkxnCz86u39vujnT5C1+BegEvBBCJAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%228px%22%20height%3D%2216px%22%20viewBox%3D%220%200%208%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Erocket%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4%2C8%20C4.316%2C8%204.57142857%2C8.2384%204.57142857%2C8.53333333%20C4.57142857%2C8.82826667%204.316%2C9.06666667%204%2C9.06666667%20C3.684%2C9.06666667%203.42857143%2C8.82826667%203.42857143%2C8.53333333%20C3.42857143%2C8.2384%203.684%2C8%204%2C8%20L4%2C8%20Z%20M4%2C5.86666667%20C4.316%2C5.86666667%204.57142857%2C6.10506667%204.57142857%2C6.4%20C4.57142857%2C6.69493333%204.316%2C6.93333333%204%2C6.93333333%20C3.684%2C6.93333333%203.42857143%2C6.69493333%203.42857143%2C6.4%20C3.42857143%2C6.10506667%203.684%2C5.86666667%204%2C5.86666667%20L4%2C5.86666667%20Z%20M4%2C3.73333333%20C4.316%2C3.73333333%204.57142857%2C3.97173333%204.57142857%2C4.26666667%20C4.57142857%2C4.5616%204.316%2C4.8%204%2C4.8%20C3.684%2C4.8%203.42857143%2C4.5616%203.42857143%2C4.26666667%20C3.42857143%2C3.97173333%203.684%2C3.73333333%204%2C3.73333333%20L4%2C3.73333333%20Z%20M6.056%2C10.7258667%20C6.78914286%2C9.58666667%207.42857143%2C8.0704%207.42857143%2C6.4%20C7.42857143%2C2.8656%204.57142857%2C0%204%2C0%20C3.42857143%2C0%200.571428571%2C2.8656%200.571428571%2C6.4%20C0.571428571%2C8.0704%201.21085714%2C9.58666667%201.944%2C10.7258667%20L0%2C12.8%20L0%2C16%20L2.85714286%2C13.3333333%20L4%2C16%20L5.14285714%2C13.3333333%20L8%2C16%20L8%2C12.8%20L6.056%2C10.7258667%20Z%22%20id%3D%22rocket%22%20fill%3D%22%23C0443D%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABR0lEQVQ4T62TgVECQQxF2Q7sQKgAOvCsQDoQKhArECqQq8DrQKnAowKkAigBKzjfZ7I7e+uuzDBmJnPs5eeRZHNuEFnXdTccH/EpXlnoi2eL1865Y6yPfzt/AKLEd1ywki2A1bngGWSQTxN882zwDztPeC7wWzuvgC1TmLN2DlbJXi0hPKVCdIKrbdk9mjbWCKR/e8VVyTAH8QlolXyHb9BpjsEE8kENU9CioVWy5jhAG+Z7PhPsSuXmiCX9v4K0J2P8mWrXF1rTDe5KrSn5CT8CGl0ANcR1c1u0VTrsIS90/bIGwbwwmxnv3yw2RydoML+QfgUUaPE1wo0ODFftqGKBvP36w/gTWaJ6yVVTeNeD9XbBPhVV95Akb9U2XuF+uyUJsB4oTjaoFk+tBks+lQArgv5qMQOrrwLZJajV0ObVIIP5HVz9AEppkRlx20aJAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2018%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Esearch%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.12492578%2C11.9990001%20C4.43695378%2C11.9990001%202.24997656%2C9.81218232%202.24997656%2C7.1244063%20C2.24997656%2C4.43738022%204.43695378%2C2.24981252%207.12492578%2C2.24981252%20C9.8113978%2C2.24981252%2011.999875%2C4.43738022%2011.999875%2C7.1244063%20C11.999875%2C9.81218232%209.8113978%2C11.9990001%207.12492578%2C11.9990001%20M17.5618171%2C15.4397134%20L13.2546119%2C11.1320723%20C13.2051124%2C11.0825765%2013.149613%2C11.0443296%2013.0963636%2C11.0030831%20C13.823856%2C9.88642613%2014.2498516%2C8.55678693%2014.2498516%2C7.1244063%20C14.2498516%2C3.18948421%2011.0608848%2C0%207.12492578%2C0%20C3.19046677%2C0%200%2C3.18948421%200%2C7.1244063%20C0%2C11.0600783%203.19046677%2C14.2488126%207.12492578%2C14.2488126%20C8.55591088%2C14.2488126%209.887897%2C13.8228481%2011.0053854%2C13.0954087%20C11.0466349%2C13.1494042%2011.0841345%2C13.2033997%2011.132884%2C13.2528956%20L15.4385892%2C17.5605366%20C15.7333361%2C17.8537622%2016.1173321%2C18%2016.4998281%2C18%20C16.8830741%2C18%2017.2670701%2C17.8537622%2017.5618171%2C17.5612866%20C18.146061%2C16.9748354%2018.146061%2C16.0254145%2017.5618171%2C15.4397134%22%20id%3D%22search%22%20fill%3D%22%23FFFFFF%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-tag {
	background-image: url('png/tag.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAABZUlEQVQ4T62T71HCQBDF3x5+NyWkA1OCVACDBZiDAoQKxAqsQALfBdOBsQJiB1iBWAC3vosDQ0IC6Hgz+Xd3+e3bt3uCfxy9ZJLJX3jdJAlbBh0FAhXNPMM4HUJ1dhTYS55iEUm2QRU6heJDIBHgpoLW2sHxHYGDSVNr80bgAUzxBmjAAJ/zuN9uyqwWeAhTqtKhQsZUlzHNy0U8sHXQA2AV5n+iVytRNyIwIjCA4E5U2s/WFv7tjxJwH6aq79yY+s1M856PnOgVv7rF3ClgBfawsIMxq+kNXxu4lNCrkpJjwBrPLKuWteByFbx4VUwl2AEVs7ntx7Ue3iSTKT25rSzmGyq4ACIW4LW0dgRWWFGjbkQ1Yxq39O3BgCkDdgroCVgB9LeKfz5dX4yQ18qILrkpPAe2A5agql8bmNCIe/w5EYjOhZWA+1D23XpXhDPSbOzDavq/UbaFNh89yHVTa9S1y3buG6DLtD6ixqjMAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2020%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Etag%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12.1798533%2C3.98193204%20C12.7403663%2C4.53499969%2012.7403663%2C5.43293795%2012.1798533%2C5.98529744%20C11.899238%2C6.26147719%2011.5325003%2C6.39956706%2011.1650449%2C6.39956706%20C10.7983073%2C6.39956706%2010.4301342%2C6.26147719%2010.1502366%2C5.98458929%20C9.58972364%2C5.43222979%209.58972364%2C4.53499969%2010.1502366%2C3.98193204%20C10.4301342%2C3.70504414%2010.7975896%2C3.56766242%2011.1643273%2C3.56766242%20C11.2892047%2C3.56766242%2011.4126467%2C3.58890701%2011.5339357%2C3.62077391%20C11.3717386%2C3.86154599%2011.2339428%2C4.09027948%2011.1255722%2C4.2836053%20C10.9490214%2C4.29281129%2010.7832359%2C4.35866954%2010.6576408%2C4.48259635%20C10.5219981%2C4.61643731%2010.4473587%2C4.79418376%2010.4473587%2C4.98326066%20C10.4473587%2C5.17304572%2010.5219981%2C5.35008402%2010.6569231%2C5.48392498%20C10.7932835%2C5.61847408%2010.9734227%2C5.69141386%2011.1650449%2C5.69141386%20C11.3573849%2C5.69141386%2011.5368064%2C5.61847408%2011.6724491%2C5.48392498%20C11.8080918%2C5.35150033%2011.8827312%2C5.17304572%2011.8827312%2C4.98396882%20C11.8827312%2C4.84871156%2011.8324932%2C4.72478474%2011.7614422%2C4.61360469%20C11.8734013%2C4.41461364%2012.0097617%2C4.19366984%2012.1640642%2C3.96847713%20C12.1683703%2C3.9734342%2012.1748295%2C3.97697497%2012.1798533%2C3.98193204%20L12.1798533%2C3.98193204%20Z%20M8.845483%2C8.69539974%20C8.67395599%2C8.50207392%208.35315023%2C8.1345424%207.72948088%2C7.86969311%20C7.16896792%2C7.63316994%206.88045805%2C7.80312671%206.77711123%2C8.04177434%20C6.65725763%2C8.31512147%206.87902268%2C8.63024964%207.50628046%2C9.20951896%20C8.38042231%2C10.0033587%208.58280983%2C10.6442373%208.2454973%2C11.4203733%20C7.91464394%2C12.1788053%207.0971993%2C12.5994483%206.03287059%2C12.3416806%20L5.65034383%2C13.2197905%20L4.7955795%2C12.8572161%20L5.14724577%2C12.0470888%20C4.57883826%2C11.7765743%204.08865855%2C11.3757596%203.83746836%2C11.0577988%20L4.53075328%2C10.1718992%20C4.80849786%2C10.5196024%205.23982729%2C10.91546%205.80177562%2C11.1541077%20C6.30343831%2C11.3651373%206.72615551%2C11.312734%206.87041045%2C10.979902%20C7.01179464%2C10.6555678%206.82304315%2C10.3347744%206.26898937%2C9.84614869%20C5.47666375%2C9.14861779%205.03098059%2C8.45462765%205.39125909%2C7.62750471%20C5.72067708%2C6.86907264%206.51300269%2C6.50720635%207.51058658%2C6.7288583%20L7.86297053%2C5.91802289%20L8.7098403%2C6.27634841%20L8.38401074%2C7.02628265%20C8.94595907%2C7.28546672%209.28040086%2C7.57793399%209.5236965%2C7.84207513%20L8.845483%2C8.69539974%20Z%20M19.8038343%2C0.0389350187%20C19.6265658%2C-0.0502922846%2019.4112599%2C0.019106729%2019.3215492%2C0.193312416%20C18.4043461%2C1.97502587%2017.6744592%2C1.86384582%2016.4651579%2C1.68185044%20C15.7137404%2C1.56854593%2014.7785952%2C1.42762344%2013.6575693%2C1.76612067%20C13.059019%2C1.94740789%2012.5279311%2C2.39566887%2012.0915779%2C2.89350057%20L11.1650449%2C1.97927479%20L8.11918452%2C1.97927479%20L0%2C9.99061194%20L6.09028549%2C16%20L14.20947%2C7.98866285%20L14.20947%2C4.98396882%20L12.6018528%2C3.39770565%20C12.976485%2C2.95935882%2013.4106852%2C2.58191316%2013.8678514%2C2.44382329%20C14.8331394%2C2.15135602%2015.6434071%2C2.27386652%2016.3567873%2C2.38150581%20C17.6184797%2C2.57270717%2018.8091212%2C2.75257808%2019.9610076%2C0.514813969%20C20.0507184%2C0.339900129%2019.9803851%2C0.127454169%2019.8038343%2C0.0389350187%20L19.8038343%2C0.0389350187%20Z%22%20id%3D%22price-tag%22%20fill%3D%22%2353A09E%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-unchecked {
	background-image: url('png/unchecked.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7klEQVQ4T+2TQQ6CMBBFZ4iGrd5IT6AsVFwhegDxBOIJxAOIugJ1AZxAb6QuCYaxbSgLokiCS7toJ23n/Un7ByEbO+/cSTGdI2Bf7r1bCShUSNmY48GVnyOfXO+4B0SjLLF4RkSr2XhkI1cmpAsBPBjPVtTG3tS0+zvYLghaafycINBaqBN20fVPIYt7BLiY6QOnShVb/2xlkIgDmDijqc32J+UilFdCcXITeRIw1YfiPaqOXPgP+OEj1vnGekaSVs4awwK1eSizMsSJwZwnHCuszIOtd7QRcVnVRPxe3kwyKavE4n3xBRQxZUe28wvZfJorlxbJEwAAAABJRU5ErkJggg==');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Eunchecked%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22outside%22%20stroke%3D%22%239EA8AA%22%20stroke-width%3D%222%22%20sketch%3Atype%3D%22MSShapeGroup%22%20x%3D%221%22%20y%3D%221%22%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%224%22%3E%3C/rect%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-unicorn {
	background-image: url('png/unicorn.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAYAAAAL4VbbAAABGUlEQVQoU5WRvVHDQBCFdyUCQkpAYynGRLoMuwM6wG4A6TowFZyOBnAH4ApsspMj5TJj6EAhBLplT4M9xkYjscn9zNvdb98i/COwj/btMU69Gl9OxFslLq1Pt4P7PHP3GuEJyOpQrn+LSyVGgKQQsAKEORBlgLgIEzNxBE3lrRpe1Hj+zK/REdaHbz+HgSyqvbjUccHVrv7iJwvjSJpVI94oMQGPudqCqGKcacNcarFilptOVyxMcaMFdQp/BC1i0sSOoLUFeThz83DFV8Y4HY6IijP6Gu9ccJa6IV3lOXe5O0ZxCVGaXx/+d7hBOkzydJeArgV6sGwb0rcQBNK89/OZLQulcai8FB1nfCStOwF4iBIz26+7r8/flKl344gAo/gAAAAASUVORK5CYII=');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2211px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2011%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Eunicon%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6.39328788%2C3.72712997%20C6.23844207%2C3.68633558%206.078105%2C3.63114078%205.914246%2C3.61861538%20C5.586446%2C3.59276923%205.495696%2C3.41830769%205.521546%2C3.12915385%20C5.540246%2C2.92076923%205.548496%2C2.71076923%205.546846%2C2.50184615%20C5.545746%2C2.36076923%205.519346%2C2.22023077%205.495696%2C2%20C4.986396%2C2.371%204.671796%2C2.77969231%204.389096%2C3.225%20C4.310446%2C3.34830769%204.169646%2C3.47376923%204.031596%2C3.51415385%20C2.043346%2C4.09730769%200.874046%2C5.44130769%200.284446%2C7.33561538%20C-0.243554%2C9.03015385%200.076546%2C10.6627692%200.607296%2C12.2953846%20C0.929596%2C13.2877692%200.579421158%2C15.232605%200.331740494%2C15.9831543%20L8.453046%2C16.0339231%20C8.489346%2C15.7765385%208.518496%2C15.5218462%208.522896%2C15.2671538%20C8.539396%2C14.2936154%208.134596%2C13.4342308%207.639046%2C12.6163077%20C7.015346%2C11.5873077%206.192546%2C10.7155385%205.340596%2C9.86746154%20C5.250946%2C9.77861538%205.164596%2C9.68653846%205.017746%2C9.53523077%20C5.762996%2C9.70646154%206.400446%2C9.54976923%207.024146%2C9.33869231%20C7.477896%2C9.18523077%207.829346%2C9.31069231%208.149996%2C9.62838462%20C8.829796%2C10.3025385%209.505746%2C10.4145385%2010.364296%2C10.0074615%20C10.726746%2C9.83569231%2011.063896%2C9.17338462%2010.989646%2C8.78892308%20C10.965446%2C8.664%2010.912646%2C8.52130769%2010.951146%2C8.41307692%20C11.083696%2C8.03992308%2010.881296%2C7.84823077%2010.615096%2C7.63607692%20C9.997446%2C7.14446154%209.388046%2C6.64153846%208.805046%2C6.11169231%20C8.513546%2C5.84676923%208.293546%2C5.50753846%208.029546%2C5.21138462%20C7.91667842%2C5.08487044%207.78975657%2C4.95941467%207.64395749%2C4.87541478%20L10.6213203%2C0.707106781%20L6.39328732%2C3.72713037%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23DC9138%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-stars {
	background-image: url('png/stars.png');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAaCAYAAAAg0tunAAABcElEQVRoQ+3YzXHCMBAFYNQBdEA6SAdJCdABqYBQQSYVBFcAHUAJSQfpIHQQOiBvNSsGC0ne8d6yqxkfsP10+NDqx+GCNvE2WiA44Gi7GHRAnZ8DKv0c0AG1Asp8mgO/0M8qhHCS9IeFZ4739rie+H2z+QT4IMVLwIz4w7/N5iMg8EJp5OHRY1yqQ/iuPI97SMv5IUAqUwJajQT89/kqIEbfFGi/DDcD4jlHTJvw0gi0ku8Bcsm+AYrw6IoljEYlTIB0vaeSzgEt5u9GIBC2QFqXShb3OuC93iwkd3OgtXyxhIFASB8Z4gZ4hHtttRK2lK8BLqB0yACXADwKAc3ka4CpjDsGo5LulS/db4xAM/kW4P5msaDFhE4q1/lPAGgi39wHVhaSwTlwKNdahKTZ1h8o7aO1DZP0EQ8h3Elxn9fqJDvKmc0nwE9gvUjPw4y3Q+aZkc3m/Yu0pFYb7zigAyoFlHEfgQ6oFFDGfQQqAf8AkvWc0drBbXAAAAAASUVORK5CYII=');
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2280px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2080%2026%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3ERectangle%2013%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20sketch%3Atype%3D%22MSLayerGroup%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C0%20L0%2C26%20L80%2C26%20L80%2C0%20L0%2C0%20Z%20M3.00585866%2C6%20C1.89805351%2C6%201%2C6.89706013%201%2C8.00585866%20L1%2C17.9941413%20C1%2C19.1019465%201.89706013%2C20%203.00585866%2C20%20L12.9941413%2C20%20C14.1019465%2C20%2015%2C19.1029399%2015%2C17.9941413%20L15%2C8.00585866%20C15%2C6.89805351%2014.1029399%2C6%2012.9941413%2C6%20L3.00585866%2C6%20Z%20M19.0058587%2C6%20C17.8980535%2C6%2017%2C6.89706013%2017%2C8.00585866%20L17%2C17.9941413%20C17%2C19.1019465%2017.8970601%2C20%2019.0058587%2C20%20L28.9941413%2C20%20C30.1019465%2C20%2031%2C19.1029399%2031%2C17.9941413%20L31%2C8.00585866%20C31%2C6.89805351%2030.1029399%2C6%2028.9941413%2C6%20L19.0058587%2C6%20Z%20M35.0058587%2C6%20C33.8980535%2C6%2033%2C6.89706013%2033%2C8.00585866%20L33%2C17.9941413%20C33%2C19.1019465%2033.8970601%2C20%2035.0058587%2C20%20L44.9941413%2C20%20C46.1019465%2C20%2047%2C19.1029399%2047%2C17.9941413%20L47%2C8.00585866%20C47%2C6.89805351%2046.1029399%2C6%2044.9941413%2C6%20L35.0058587%2C6%20Z%20M51.0058587%2C6%20C49.8980535%2C6%2049%2C6.89706013%2049%2C8.00585866%20L49%2C17.9941413%20C49%2C19.1019465%2049.8970601%2C20%2051.0058587%2C20%20L60.9941413%2C20%20C62.1019465%2C20%2063%2C19.1029399%2063%2C17.9941413%20L63%2C8.00585866%20C63%2C6.89805351%2062.1029399%2C6%2060.9941413%2C6%20L51.0058587%2C6%20Z%20M67.0058587%2C6%20C65.8980535%2C6%2065%2C6.89706013%2065%2C8.00585866%20L65%2C17.9941413%20C65%2C19.1019465%2065.8970601%2C20%2067.0058587%2C20%20L76.9941413%2C20%20C78.1019465%2C20%2079%2C19.1029399%2079%2C17.9941413%20L79%2C8.00585866%20C79%2C6.89805351%2078.1029399%2C6%2076.9941413%2C6%20L67.0058587%2C6%20Z%22%20id%3D%22Rectangle-13%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Star-3%22%20sketch%3Atype%3D%22MSShapeGroup%22%20points%3D%227.9999999%2015.2499999%205.06107397%2017.0450851%205.86012292%2013.6952883%203.24471738%2011.4549151%206.67748364%2011.1797115%208.00000006%208%209.32251727%2011.1797122%2012.7552834%2011.4549175%2010.1398769%2013.6952889%2010.9389259%2017.0450852%20%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Star-3%22%20sketch%3Atype%3D%22MSShapeGroup%22%20points%3D%2223.9999999%2015.2499999%2021.061074%2017.0450851%2021.8601229%2013.6952883%2019.2447174%2011.4549151%2022.6774836%2011.1797115%2024.0000001%208%2025.3225173%2011.1797122%2028.7552834%2011.4549175%2026.1398769%2013.6952889%2026.9389259%2017.0450852%20%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Star-3%22%20sketch%3Atype%3D%22MSShapeGroup%22%20points%3D%2239.9999999%2015.2499999%2037.061074%2017.0450851%2037.8601229%2013.6952883%2035.2447174%2011.4549151%2038.6774836%2011.1797115%2040.0000001%208%2041.3225173%2011.1797122%2044.7552834%2011.4549175%2042.1398769%2013.6952889%2042.9389259%2017.0450852%20%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Star-3%22%20sketch%3Atype%3D%22MSShapeGroup%22%20points%3D%2255.9999999%2015.2499999%2053.061074%2017.0450851%2053.8601229%2013.6952883%2051.2447174%2011.4549151%2054.6774836%2011.1797115%2056.0000001%208%2057.3225173%2011.1797122%2060.7552834%2011.4549175%2058.1398769%2013.6952889%2058.9389259%2017.0450852%20%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Star-3%22%20sketch%3Atype%3D%22MSShapeGroup%22%20points%3D%2271.9999999%2015.2499999%2069.061074%2017.0450851%2069.8601229%2013.6952883%2067.2447174%2011.4549151%2070.6774836%2011.1797115%2072.0000001%208%2073.3225173%2011.1797122%2076.7552834%2011.4549175%2074.1398769%2013.6952889%2074.9389259%2017.0450852%20%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
	font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
	font-size: 14px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

.et_fixed_nav #main-header, .et_fixed_nav #top-header {
  position: fixed;
}

#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  //color: #7EBEC5;
}

#main-header {
  line-height: 23px;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 18px 0 0 0;
  min-height: 43px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 99999;
}

.et-fixed-header {
  padding: 10px 0 0 0 !important;
  min-height: 30px !important;
  height: 42px;
  //this is JP's hack, couldn't figure out what was shrinking the header
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
}

.et_nav_text_color_dark, .et_nav_text_color_dark #et-secondary-nav a, .et_nav_text_color_dark .et-social-icon a, .et_nav_text_color_dark #et-info a {
  color: rgba( 0, 0, 0, 0.5 );
}

article, aside, footer, header, hgroup, nav, section {
  display: block;
}

.container {
  text-align: left;
  margin: 0 auto;
  width: 1080px;
  position: relative;
}

#et-top-navigation {
  float: right;
}


.et_fixed_nav #logo {
  max-height: 43px;
  margin-bottom: 0;
}

.et-fixed-header #logo {
  max-height: 30px;
}

#logo {
  float: left;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

img#logo {
  //max-width: 100%;
  height: auto;
}

#main-header nav#top-menu-nav {
  padding-top: 10px;
}

nav#top-menu-nav, #top-menu {
  float: left;
}

#main-header ol, #main-header ul {
  list-style: none;
}

#top-menu li {
  display: inline-block;
  font-size: 14px;
  padding-right: 22px;
}

.nav li {
  position: relative;
}

#top-menu .menu-item-has-children > a:first-child, #et-secondary-nav .menu-item-has-children > a:first-child {
  padding-right: 14px;
}

#top-menu li > a {
  padding-bottom: 29px;
}

#top-menu a {
  color: #666;
  text-decoration: none;
  display: block;
  position: relative;
}

#top-menu a:hover {
  color: #333;
}

#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
  background-color: #ffffff;
}

.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote {
  border-color: #7a7a7a;
}

.nav li ul {
  -webkit-transform: translate3d(0,0,0);
  text-align: left;
}

.nav li { position: relative; }
.nav li ul { 
	position: absolute;
	top: 52px;
	left: -27px;
	padding: 20px;
}
.et-fixed-header .nav li ul { top: 38px;}
.et-fixed-header .nav li li ul { top : -3px ;}
.nav li ul { 
	z-index: 9999;
	width: 200px;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	border-top: 3px solid #7a7a7a;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav li ul { 
	-webkit-transform: translate3d(0,0,0); 
	text-align: left; }
.nav li.et-hover > ul { visibility: visible; }
.nav li:hover > ul, .nav li.et-hover > ul { 
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.nav li:hover > ul { 
	opacity: 1; 
	visibility: visible; 
}
.nav li li { padding: 0; margin:0; }
.nav li li ul { z-index: 1000; top: -3px; left: 220px; }
.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.nav li li a, .et_mobile_menu li a { 
	font-size: 14px; 
	-moz-transition: all 0.2s ease-in-out; 
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 
}
.nav ul li a:hover, .et_mobile_menu li a:hover { 
	color: #111; 
	background-color: rgba(0,0,0,0.03); 
}
.et_nav_text_color_light .nav ul li a:hover, .et_nav_text_color_light .et_mobile_menu li a:hover { color: #fff !important; }

#top-menu li li a { padding: 10px 20px; width: 160px; }
.et_nav_text_color_light #top-menu li li a { color: rgba( 255, 255, 255, 0.7 ); }
.et_nav_text_color_light #top-menu li li a:hover { color: rgba( 255, 255, 255, 1 ); }

.mobile_nav .select_page {
  display: none;
}

#top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after { 
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg);  
	-moz-transform:rotate(90deg);  
	content: ' >\0000a0'; 
	font-size: 9px; 
	position: absolute; 
	right: 0; 
	top: 2px; 
}

#top-menu .menu-item-has-children > a:first-child, #et-secondary-nav .menu-item-has-children > a:first-child { padding-right: 14px;}

#top-menu li li.menu-item-has-children > a:first-child:after { right: 20px;}

@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {
	.container { width: 960px; }
}	

@media only screen and (max-width: 980px){
	#main-header #et_mobile_nav_menu {
	  margin-top: 8px;
	}
	#main-header {
	  padding-bottom: 18px;
	}
	#top-menu {
	  display: none;
	}
	#et_mobile_nav_menu {
	  display: block;
	}
	.container {
	  width: 690px;
	}
	.mobile_menu_bar:before {
		content: "\61";
		font-size: 32px;
		left: 0;
		position: relative;
		top: 0;
		color: #7a7a7a !important;
	}
}

 @media only screen and (max-width: 760px){
	.container {width: 90%;}
}

/* 
 * The lines below are how it is on the revel talent site.
 * Instead of setting a bunch of aribitrary breakpoints,
 * I'm using a flexible width
 *  */

/* @media only screen and (max-width: 767px){
	.container {width: 400px;}
}

@media only screen and (max-width: 479px){
	.container{ width: 280px;}
} */



@font-face {
	font-family: 'ETmodules';
	src:url('fonts/ETmodules_v2.eot');
	src:url('fonts/ETmodules_v2.eot?#iefix') format('embedded-opentype'),
		url('fonts/ETmodules_v2.ttf') format('truetype'),
		url('fonts/ETmodules_v2.woff') format('woff'),
		url('fonts/ETmodules_v2.svg#ETmodules') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mobile_menu_bar:before {
  font-family: 'ETmodules';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile_menu_bar {
  position: relative;
}

/*---------------[MOBILE MENU]------------------*/
.et_mobile_menu { 
	position: absolute; 
	left: 0; top: 62px; 
	padding: 5%; 
	background: #fff; 
	width: 90%; 
	visibility: visible; 
	opacity: 1; 
	display: none; 
	z-index: 9999; 
	border-top: 3px solid #7a7a7a; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.et-fixed-header .et_mobile_menu { top: 41px; }
.et_mobile_menu li ul { visibility: visible !important; display: block !important; padding-left: 10px; }
.et_mobile_menu li li { padding-left: 5%;}
.et_mobile_menu li a { border-bottom: 1px solid rgba(0,0,0,0.03); color: #666; padding: 10px 5%; width: 90%; display: block; }
/* .et_nav_text_color_light .et_mobile_menu li a { color: rgba( 255, 255, 255, 0.7 ); }
.et_mobile_menu .menu-item-has-children > a { font-weight: bold; background-color: rgba(0,0,0,0.03); }
.et_mobile_menu li .menu-item-has-children > a { background-color: transparent; }
#et_mobile_nav_menu { float: right; display: none; }
.mobile_menu_bar { position: relative; }
.mobile_menu_bar:before { content: "\61"; font-size: 32px; left: 0; position: relative; top: 0; }
.et-fixed-header .mobile_menu_bar:before { top: -6px; } */




/* mixins */
/* === Start of main.css === */
/* ================= Typography ================= */
body {
  color: #383838;
}
a {
  color: #2279b4;
}
.system-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.large-font {
  font-size: 120%;
}
.small-font {
  font-size: 80%;
}
.em {
  font-weight: 700;
}
.light-font {
  color: #848484;
}
.listing {
  margin-bottom: 2em;
}
.listing h2 {
  font-size: 130%;
}
.listing h2 .type {
  font-weight: normal;
  color: #848484;
}
.listing .description {
  margin: .25em 0;
}
.listing .data {
  color: #848484;
}
.listing .data span {
  white-space: nowrap;
}
.details h1 {
  font-size: 130%;
}
.details .description {
  margin: .5em 0;
}
.details .category,
.details .type,
.details .founded,
.details .founders,
.details .funding,
.details .investors {
  color: #848484;
}
.details .jobs {
  position: relative;
  left: 1em;
}
.details .count {
  position: relative;
  left: 0.5em;
}
.details hr {
  border: 0;
  height: 0;
  border-top: 1px #b9c0c2 solid;
  margin: .75em 0;
}
.details .founders {
  margin-bottom: .5em;
}
.refine ul {
  list-style: none;
  line-height: 1.8;
}
.urls ul {
  list-style: none;
  line-height: 1.6;
}
/* ================= Layout ================= */
.guide {
  background: #eee;
}
.layout {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
#main-content {
  margin-top: 1em;
}
.search {
  margin: 1em auto;
}
.search h1 {
  margin-bottom: .5em;
  font-size: 120%;
}
.search .links a {
  margin-right: .75em;
}
.search-simple {
  margin: 1.5em 0 1em;
}
.info {
  padding: 0 20px;
  margin-bottom: 1em;
  text-indent: -14px;
}
.info.tag {
  text-indent: -20px;
}
.info.unicorn {
  text-indent: -18px;
}
.refine .icon-rocket {
  left: 3px;
  padding-right: 7px;
}
.refine .icon-unicorn {
  left: 3px;
  padding-right: 5px;
}
.refine ul {
  margin-bottom: 1em;
}
.details .profile {
  float: right;
}
footer {
  font-size: 80%;
  padding: 5em 0 2em;
  clear: both;
  text-align: center;
}
/* ================= Layout Media Queries ================= */
@media only screen and (max-width: 759px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  /* prevent text from enlarging weirdly when phone is in landscape */
  .search,
  .search-simple {
    margin: 2em 0;
  }
  .search .input-append,
  .search-simple .input-append {
    width: 100%;
  }
  .search input,
  .search-simple input {
    width: 82% ;
  }
  .search .links,
  .search-simple .links {
    width: 90%;
  }
  .refine {
    height: 10em;
    overflow: scroll;
    border-bottom: 1px solid #b9c0c2;
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 760px) {
  .search {
    width: 500px;
    padding: 3em 0;
  }
  .search input {
    width: 440px;
  }
  .search .links {
    margin-top: 2em;
  }
  .search-simple input {
    width: 340px;
  }
  .search-simple h1 {
    display: inline;
    position: relative;
    left: 2em;
    top: -4px;
  }
  .refine {
    width: 30%;
    min-width: 155px;
    max-width: 240px;
    float: left;
  }
  .results {
    width: 70%;
    float: left;
  }
  .details {
    width: 370px;
    float: left;
  }
  .more-details {
    width: 300px;
    float: left;
    margin-left: 15px;
  }
  .border {
    border: 1px #b9c0c2 solid;
    padding: 10px;
  }
  .logo {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 980px) {
  .thirds {
    width: 33%;
    float: left;
  }
  .details {
    width: 400px;
    float: left;
  }
  .more-details {
    width: 320px;
    float: left;
    margin-left: 15px;
  }
}
/* ================= Forms ================= */
/* adapted from bootstrap 2.3.2 */
.input-append {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.input-append input[class*="span"] {
  display: inline-block;
}
/* need to have them floated? */
.input-append input {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-size: 14px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
input[type="text"] {
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #9ea8aa;
  height: 20px;
  padding: 4px 6px;
  line-height: 20px;
  color: #383838;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*   -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s; 
	figure out focus and active
	*/
}
.input-append .btn {
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.btn {
  display: inline-block;
  padding: 4px 12px 1px;
  margin: 0;
  font-size: 14px;
  height: 30px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #9ea8aa;
  border: 1px solid #9ea8aa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input[type="text"]:focus {
  border-color: #53a09e;
  outline: 0;
}
.btn:focus {
  border-color: #53a09e;
  background-color: #53a09e;
  outline: 0;
}
/* todo: focus and active styles for buttons inputs */
/* ================= Icons ================= */
/* data svg and png icon images defined in icons.css */
i.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
i.icon-search {
  width: 18px;
  height: 18px;
}
.shift-down {
  position: relative;
  top: 3px;
}
i.icon-tag {
  width: 22px;
  position: relative;
  top: 3px;
}
i.icon-rocket {
  width: 14px;
  position: relative;
  top: 3px;
}
i.icon-unicorn {
  position: relative;
  top: 3px;
  top: 2px;
}
i.icon-checked {
  width: 17px;
  height: 18px;
  position: relative;
  top: 3px;
}
i.icon-unchecked {
  position: relative;
  top: 4px;
}
i.icon-stars {
  width: 80px;
  height: 21px;
  background-position: 0% 80%;
  vertical-align: middle;
}
.gray {
  background: #f1f1f1;
  background: #ddd;
  width: 80px;
  vertical-align: middle;
}
.green {
  background: #7cb228;
}
.gray,
.green {
  display: inline-block;
  height: 16px;
}
