---
layout: main
title: Moonsault Software - Software Consulting in Denver, CO
---

<section class="blue intro">
	
	<div class="logo-box">
		{% include_relative img/logo.svg %}
	</div>
	<div class="center block">
		{% capture into_text %}
		  {% include_relative content/intro.md %}
		{% endcapture %}
		{{ into_text | markdownify }}
		
		<div class="center">
			<a class="button" href="mailto:hello@moonsault.co">Contact Moonsault</a>
		</div>
	</div>
	
	
</section>
<section class="testimonials">
	
	<div class="testimonial lynda ">
		<span class="mark">“</span>
		<div class="quote">
			Moonsault are easy to work with. They helped us make good technology decisions and get things done quickly.
		</div>
		<div class="source">
			— <a href="https://www.linkedin.com/in/lyndacalhoun">Lynda Calhoun</a>, Digital Spark
		</div>
		
	</div>
	
	<div class="testimonial aaron off-screen-right">
		<span class="mark">“</span>
		<div class="quote">
			Moonsault was able to take our project and complete it with minimal oversight. Great to be able to just hand them stuff and know they'd get it done right and on time.
		</div>
		<div class="source">
			— Aaron Rich, Engineering Manager at <a href="https://www.tendrilinc.com">Tendril</a>
		</div>
		
	</div>
	
	<div class="testimonial paul off-screen-right">
		<span class="mark">“</span>
		<div class="quote">
			They're fast, flexible, and they ship great product. Creating something brand new is hard, requires lots of tweaking and direction changes. Moonsault was able to handle a fair amount of chaos and lack of process better than any developers I've ever worked with, all while helping us stay on track and build a great product.
		</div>
		<div class="source">
			— <a href="https://www.linkedin.com/in/paulzalewski">Paul Zalewski</a> Director of Digital Marketing at SolarPulse 
		</div>
		
	</div>
	

</section>

<section class="work">
	<div class="center block">
		<h2>Our Work</h2>
		<div class="subhead">Some recent projects</div>
		
		{% capture pulse_text %}
		  {% include_relative content/pulse.md %}
		{% endcapture %}
		{{ pulse_text | markdownify }}
		
		<div class="img-wrap">
			<a href="#" class="img-switch" data-id="pulse">
				<img src="/img/pulse/a-home.jpeg" data-count="0">
			</a>
			<p class="center light">(click to see more images)</p>
		</div>

		{% capture comm_text %}
		  {% include_relative content/community.md %}
		{% endcapture %}
		{{ comm_text | markdownify }}
		
		<div class="img-wrap">
			<a href="#" class="img-switch" data-id="comm">
				<img src="/img/comm/a-home.jpeg" data-count="0">
			</a>
			<p class="center light">(click to see more images)</p>
		</div>
		
		{% capture revel_text %}
		  {% include_relative content/revel.md %}
		{% endcapture %}
		{{ revel_text | markdownify }}
		
		<div class="img-wrap">
			<a href="#" class="img-switch" data-id="revel">
				<img src="/img/revel/c-details.png" data-count="0">
			</a>
			<p class="center light">(click to see more images)</p>
		</div>
		
	</div>	
</section>

<script src="/js/cash.min.js"></script>
<script>
  // going to use cash a lightweight jquery alternative
  // https://github.com/kenwheeler/cash#fnafter
  
  $(function(){
	  
	var pulseList = ["/img/pulse/a-home.jpeg", "/img/pulse/e-solar.jpeg", "/img/pulse/c-size.jpeg", "/img/pulse/d-mobile.jpeg"],
	revelList = ["/img/revel/c-details.png",  "/img/revel/b-results.png",  "/img/revel/d-mobile.png"],
	commList = ["/img/comm/a-home.jpeg", "/img/comm/b-about.png", "/img/comm/c-offset.png", "/img/comm/d-mobile.png"];
  
    $('html').addClass('dom-loaded');
    swapIndex = 0;
    swapTestimonials();
    //showTestimonial();
    //$('.img-switch').on('click', bloop())
    $('.img-switch').on('click', function(e) {
	   // console.log($(this));
    	switchImage($(this));
    	e.preventDefault();
    }); 
    
    function switchImage(clickedNode) {
		//console.log(clickedNode);
		//console.log($(clickedNode).children());
		
		var targetFlag = clickedNode.attr('data-id'),
		thisImage = $(clickedNode).children(),
		listIndex = thisImage.attr('data-count'),
		nextIndex, newSrc, targetList;
		
		if (targetFlag == 'pulse') targetList = pulseList;
		if (targetFlag == 'revel') targetList = revelList;
		if (targetFlag == 'comm') targetList = commList;

		
		if (targetList.length > 1) {
			
			nextIndex = parseInt(listIndex) + 1;
			if (nextIndex == targetList.length) nextIndex = 0;
			
			newSrc = targetList[nextIndex];
			
			thisImage.addClass('fade-out');
			//thisImage.removeClass('fade-in');
			
			setTimeout(function(){
				thisImage.attr('src', newSrc );
				thisImage.attr('data-count', nextIndex );
			}, 500);

			
			setTimeout(function(){
				//thisImage.addClass('fade-in');
				thisImage.removeClass('fade-out');
			}, 750);
			

		}
    }
    
    function swapTestimonials() {
		var elementCollection = $('.testimonials').children();
		//console.log("swapIndex " + swapIndex);
		
		// using hidden to keep the move from off-screen-left to off-screen-right
		// from being vissible
		$('.testimonial.hidden').removeClass('hidden');
	
		$(elementCollection[swapIndex]).addClass('off-screen-left');
		var nextItem = swapIndex+1
		if (nextItem == elementCollection.length) {nextItem = 0};
		//console.log("nextItem " + nextItem);
		$(elementCollection[nextItem]).removeClass('off-screen-right');
		
		setTimeout(function() {
		  $('.off-screen-left').addClass('hidden');
		  $('.off-screen-left').addClass('off-screen-right');
		  $('.off-screen-left').removeClass('off-screen-left');
		}, 1000);
		
		swapIndex++;
		if (swapIndex == elementCollection.length) {swapIndex = 0};
		
		setTimeout(swapTestimonials, 7000);
	}
  
  
  
  });
  
</script>