<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}Moonsault Software{% endif %}</title>
	
	{% assign description =  site.description %}
	{% if page.excerpt %}
	{% capture description %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endcapture %}
	{% endif %}
	{% if page.description %}{% assign description =  page.description %}{% endif %}
	<meta name="description" content="{{description}}">

	{% capture include_to_scssify %}
	  {% include index.scss %}
	{% endcapture %}
	<style>
		{% include normalize.css %}
		{% include github-pygments.css %}
	  	{{ include_to_scssify | scssify }}
	</style>

	{% capture canonical_url %}{{site.url}}{{ page.url | replace:'index.html','' | replace:'.html', '' }}{% endcapture %}
	{% if page.canonical %}
	  {% assign canonical_url = page.canonical %}
	{% endif %}
	<link rel="canonical" href="{{canonical_url}}" />

	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180.png?v=2">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon-192.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png?v=3">	
</head>
