
$moon-blue: #004B77;
$text-color: #555;
$light-text: #777;
$lighter-text: #aaa;
$text-width: 32em;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Iowan Old Style', Palatino, Georgia, 'Times New Roman', Times, serif;
	background-color: white;
	color: $text-color;
	line-height: 1.3;
}

.contrast-font {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; 
}

p {
	margin: 1.3em 0;
}

a {
	color: $moon-blue;
	color: lighten($moon-blue, 10%);
	text-decoration: none;
	transition: color 300ms ease-in;
	&:visited {
		//color: darken($moon-blue, 10%);
		color: $moon-blue;
	}
	&:hover {
		color: lighten($moon-blue, 20%);
	}
}

h1, h2, h3 {
	@extend .contrast-font;
	margin: 1.3em 0 0;
	color: #333;
}

h2 {
	
}

h3 {
	margin-bottom: -1em;
}

section {
	padding: 3em 1em ;
	font-size: 16px;
}

section.blue {
	background-color: $moon-blue;
	color: white;
	
	.button {
		background-color: white;
		color: $moon-blue;
	}
}

.button {
	@extend .contrast-font;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	background-color: $moon-blue;
	color: white;
	padding: .25em 1em;
	border-radius: 1em;
	opacity: 0.65;
	transition: opacity 300ms ease-in;
	&:hover {
		opacity: 1;
	}
}

.img-switch img {
	border: 1px $lighter-text solid;
	max-width: 100%;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.light {
	color: $light-text;
}

.center.block {
	text-align: left;
	max-width: $text-width;
	margin: 0 auto;
}

.logo-box {
	position: relative; 
	width: 200px;
	height: 50px;  
	margin: 0 auto .5em;
}
.logo {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0;
}

.intro .center .button {
	//margin-top: 1em;
}


.testimonial {
	max-width: $text-width;
	margin: auto;
	clear: both;
	position: relative;
	padding-left: 2.5em;
	//background-color: #fee;
	.mark {
		color: $lighter-text;
		font-size: percentage(70/16);
		//background-color: #eee;
		position: absolute;
		top: -.2em;
		left: 0;
	}
	.quote, .source {
		//margin-left: 3.2em;
		//border: 1px #000 solid;
		//background-color: #efe;
	}
	.quote {
		font-style: italic;
		//color: $light-text;
		font-size: 120%;
	}
	.source {
		//@extend .contrast-font;
		font-size: 85%;
		margin-top: .5em;
		//text-align: center;
	}
}

.work {
	padding-top: 0;
	h2:first-of-type {
		margin-top: 0;
	}
	.subhead {
		margin-bottom: 1em;
	}
}

.footer {
	background-color: #333;
	color: white;
	padding: .25em;
}

// Tablet and larger 
@media (min-width: 768px) {
	
	section {
		font-size: percentage(22/16);
	}
	
	.img-switch {
		display: block;
		min-height: 833px;
	}
	
	.img-switch img {
		max-width: (1200px * .75);
		margin-left: -98px;
	}
	
	.work .light {
		font-size: 80%;
	}
	
	.logo-box {
		position: relative; 
		width: 300px;
		height: 100px;  
		margin: auto;
	}

}