---
layout: main
title: Moonsault Blog
pageName: blog
---
<section class="header blog">
  {% include header.html %}
  <h1>Moonsault Blog</h1>
</section>

<section class="post">
  <div class="inside">
    {% for post in site.posts limit:1 %}
      <h2 itemprop="name" class="title {% if post.longTitle %}long{% endif %}"><a href="{{ post.url | relative_url }}">{{post.title}}</a></h2>
      {% if post.author %}
      {% if post.author == 'Chad Baudoin'%}{% assign email = "chad@moonsault.co" %}{% endif%}
      {% if post.author == 'John Phillips'%}{% assign email = "john@moonsault.co" %}{% endif%}
      {% if post.author == 'Travis Nelson'%}{% assign email = "travis@moonsault.co" %}{% endif%}  
      <p class="author">
        by
        <span>
          {% if email %}<a href="mailto:{{email}}">{% endif%}<span itemprop="name">{{ post.author }}</span>{% if email %}</a>{% endif%}
        </span> on
        <span itemprop="datePublished" content="{{ post.date | date: "%F" }}" class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
      </p>
      {% endif%}
      {% if post.subtitle %}<blockquote class="subtitle">{{post.subtitle}}</blockquote>{% endif%}
      {{ post.content |  truncatewords: 100 | markdownify}}
      <a class="" href="{{ post.url | relative_url }}">Continue reading <em>“{{post.title}}”</em></a>
    {% endfor %}
  </div>
</section>
<section class="blog list">  
  <div class="wide">
    <h2 class="recent-posts">Recent Posts:</h2>
  </div>
  <div class="columns">
    {% for post in site.posts offset:1 %}
    <div class="post-intro">
  
      <h3 class="post-title">
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <div class="post-meta">{{ post.date | date: date_format }} by {{post.author}}</div>
  
      <div class="excerpt">
        {{ post.content | strip_html | truncatewords: 50 }} <a class="" href="{{ post.url | relative_url }}">more</a>
      </div>

    </div>
    {% endfor %}
  </div>
</section>


