<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="Software Consulting in Denver, CO. We focus on rapid, high quality delivery and excellent communication.">

    <script src="https://use.typekit.net/gge5pco.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Custom CSS -->
    <link href="/css/plain.css" rel="stylesheet">
    <script type="application/ld+json">
    {
        "@type": "Organization",
        "name": "Moonsault Software",
        "description": "Software Consulting in Denver, CO. We design and build software for the web. Software people like.",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Denver",
            "addressRegion": "CO",
            "addressCountry": "USA"
        },
        "email": "hello@moonsault.co",
        "url": "http://moonsault.co",
        "logo": "http://moonsault.co/img/logo-reversed.png",
        "@context": "http://schema.org"
    }
    </script>

    <!-- Custom Fonts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="{{ page.pageName }}">

  {% assign linkPrefix = '' %}
  {% if page.pageName contains 'blog' %}
    {% assign linkPrefix = '/' %}
  {% endif %}

    <!-- Navigation -->
    <nav>
      <a href="/" class="page-scroll">Home</a>
      <a href="/#work" class="page-scroll">Recent Work</a>
    </nav>

    <div class="wrap">
        <a href="/"><img class="logo" src="/img/logo-reversed.png"></a>
    </div>

    {{ content }}

    <footer>
        <div class="">
            <p>&copy;2016 Moonsault Software</p>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="/js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63393266-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>
