---
layout: main
pageName: blog-post
---
<section class="header blog">
  {% include header.html %}
  
  <h1><a href="/blog/">Moonsault Blog</a></h1>

</section>

<section class="post" itemscope itemtype="http://schema.org/Article">
  
  <div class="center block">
    
    {% if page.headImage %}
      <div class="head-image">
          {{ page.headImage | markdownify }}
      </div>
    {% endif %}
    <div class="wrap">
        <h2 itemprop="name">{{page.title}}</h2>
        {% if page.subtitle %}
          <h3 class="subtitle">{{page.subtitle}}</h3>
        {% endif%}
        
        {% if page.author %}
        <p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          by
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span> on
          <span itemprop="datePublished" content="{{ page.date | date: "%F" }}" class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        </p>
        {% endif%}
  
        <div itemprop="articleBody" class="post-content">
        {{ content }}
        </div>
                
        {% if page.canonical %}
          <p>Originally published at <a href="{{page.canonical}}">{{page.canonical | remove_first: "http://" | remove_first: "https://"}}</a></p>
        {% endif %}
        
  

    </div>
  </div>
</section>
