---
layout: default
pageName: work-piece
---
<section id="work" class="white">
  <div class="wrap">

    <h1>{{page.title}} <span class="pop">{{page.subtitle}}</span></h1>

      {% for screenshot in page.primary-screenshots %}
        <div class="screenshot">
            <img alt="{{screenshot[0]}}" title="{{screenshot[0]}}" src="{{screenshot[1]}}" class="first">
        </div>
      {% endfor %}

      <div class="text">
          <div itemprop="articleBody" class="post-content">
          {{ content }}
          </div>
      </div>

      {% for screenshot in page.screenshots %}
        <div class="screenshot">
            <img alt="{{screenshot[0]}}" title="{{screenshot[0]}}" src="{{screenshot[1]}}">
        </div>
      {% endfor %}


      <p>Want to hear more? Reach out to us at <a href="mailto:hello@moonsault.co">hello@moonsault.co</a></p>

  </div>


</section>
